* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

:root {
  --brand-color: #ffbd48;
  --dark-10: #2e2e2e;
  --dark-20: #fefbf4;
  --dark-30: #ffffff;
}
body {
  width: 375px;
  height: 3016px;
  gap: 10px;
}

.logo {
  width: 375px;
  height: 300px;
  gap: 10px;
}

.box {
  width: 375px;
  height: 1732px;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 48px;
  padding-right: 24px;
  padding-bottom: 48px;
  padding-left: 24px;
  gap: 50px;

  position: relative;
}

.box .content {
  width: 324px;
  height: 300px;
  background: var(--dark-20);
  border: var(--dark-30);
  margin: auto;
  border-radius: 16px;
  opacity: 100%;
  margin-bottom: 39px;
}

.maisvendidas {
  margin-bottom: 50px;
  width: 167px;
  height: 29px;
  font-size: 24px;
  font-weight: 600;
}

.pizzas {
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
}

#pizza {
  width: 120px;
  height: 120px;
  margin-top: -47.5px;
}

#icone {
  width: 32px;
  height: 32px;
  left: 297px;
  bottom: 331px;
  margin-top: -16.5px;
}

.title h1 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 16px;
}
.title p {
  padding-bottom: 20px;
  padding-top: 16px;
  margin: auto;
}
.title p.um {
  font-size: 16px;
  font-weight: 400;
  width: 215px;
  height: 48px;
}
.title p.dois {
  width: 141px;
  height: 39px;
  font-size: 32px;
  font-weight: 600;
}

.link {
  width: 206px;
  height: 41px;
  background-color: var(--brand-color);
  border-radius: 25px;
  border: none;
  margin-top: 59px;
  padding: 12px 12px;
  cursor: pointer;
}

.link h1 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  width: 375px;
  height: 984px;
  background-color: var(--dark-20);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container #restaurante {
  width: 327px;
  height: 400px;
  margin: 64px;
}

.container h1 .sobre {
  width: 285px;
  height: 44px;
  font-size: 36px;
  font-weight: 600;
}

.container .amarelo {
  color: #ffbd48;
}

.container .vermelho {
  color: #ff3536;
}

.container .verde {
  color: #60bb28;
}

.container p {
  width: 327px;
  height: 243px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 24px;
  margin-top: 32px;
}

.container .link {
  margin: bottom 64px;
  align-self: flex-start;
  margin: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 768px;
    height: 2255px;
    gap: 10px;
  }

  .logo {
    width: 768px;
    height: 400px;
    gap: 10px;
  }

  .box {
    width: 768px;
    height: 1006px;
    grid-template-columns: 1fr 1fr;
  }

  .maisvendidas {
    width: 250px;
    height: 44px;
    text-align: center;
    margin-bottom: 20px;
  }

  .container {
    width: 768px;
    height: 849px;
    background-color: var(--dark-20);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container #restaurante {
    width: 704px;
    height: 400px;
    margin: 64px;
    border-radius: 6px;
  }
}
