* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

:root {
  --brand-color: #ffbd48;
  --dark-10: #2e2e2e;
  --dark-20: #fefbf4;
  --dark-30: #ffffff;
}
body {
  width: 375px;
  height: 3016px;
  top: -1140px;
  left: 2076px;
  gap: 10px;
}

.logo {
  width: 375px;
  height: 300px;
  gap: 10px;
}

.box {
  display: grid;
  justify-items: center;
  text-align: center;
  padding-top: 48px;
  padding-right: 24px;
  padding-bottom: 48px;
  padding-left: 24px;
  gap: 50px;
}

.box .content {
  width: 324px;
  height: 300px;
  background: var(--dark-20);
  border: var(--dark-30);
  border-radius: 16px;
  opacity: 100%;
}

.content .pizzas {
  width: 120px;
  height: 120px;
  padding-left: 47.5px;
  padding-left: 47.5px;
  border: 1px solid red;
}
